/*GENERAL*/

body {
    /*text-align: center;*/
    background: #F2F2F2;
    color: #020202;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 17px;
    justify-content: space-between;
}

h1 {
  font-size: 17px;
  line-height: 11px;
  font-weight: bolder;
}

h2 {
  font-size: 15px;
  line-height: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 33px;
  text-align: center;
  padding-bottom: 10px;
}

h3 {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.container-fluid {
  margin: 0;
  padding: 0px;
}

.wrapper {
  margin-top: 25px;
}

.min {
  font-size: 15px;
  font-weight: normal;
}

.block-content {
  margin: 25px 0;
}


/*NAVBAR*/
.language-switcher {
	color: black;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 14px;
	font-family: "Quicksand", Arial;
	font-weight: bold;
}

.nav {
  background-color: white;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
  font-size: 13px;
}

.navbar {
	margin: 45px 0 15px 0;
  font-weight: bold;
}

.nav a {
	color: black;
	text-decoration: none;
	padding: 5px;
  font-weight: bold;
}

.nav a:hover {
	color: blue !important;
	background-color: white !important;
}

#home a {
  color: blue !important;
}

.logo {
	padding-top: 30px;
}

/*SECTION PRODUCT*/

.products {
  background-color: #F2F2F2;
}

.products-title {
  text-transform: uppercase;
  font-weight: bold;
  color: black !important;
}

.white-content {
  background-color: white;
  text-transform: uppercase;
  display: block;
  margin-top: 15px;
  height: 30px;
}

.margin {
  margin-left: 8px;
  vertical-align: -webkit-baseline-middle;
}

/*SEARCH-PRODUCT*/
.search-product {
  padding: 25px 0;
  border-bottom: solid 2px black;
}

.block-1{
  background-color: black;
  color: white;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-top: 50px;
}

.search {
  background-color: white;
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
  padding: 40px 15px 27px 15px;
}

.search-bar {
  border: solid 2px blue;
  height: 35px;
  margin-bottom: 15px;
}

.fa-search{
  color: blue;
  float: right;
  margin-right: 9px;
  margin-top: 3px;
}

.border-green {
  border: solid 2px #30FD30;
  color: blue;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: bolder;
}

.translate {
  transform: translateX(-6px);
}

/*TABLEAU*/
.table-bordered, thead, tr, th, td {
  border: black solid 2px !important;
}

.first-row {
  font-weight: normal;
  width: 350px;
}

/*PRODUIT MOIS*/
.white-block {
  background-color: white;
  text-align: center;
}

.white-block h1 {
  padding-top: 10px;
}


.month-product {
  padding: 30px;
}
