<!-- SECTION PRODUCTS SHORT-->
<section class="products">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 wrapper">
				<img src="img/bell.png" alt="bell" class="img-responsive img-bell" />
				<h1 class="product-title">produits remboursés<span class="min"> depuis 30 jours</span></h1>

				<!-- TCO A décommenter -->
				<!-- <div class="sous-container">
					<ul class="list-unstyled">
						<li class="prod-list panel-heading" th:each="refund : ${refundProducts}" th:if="${refundStat.count} le 5">
							<span class="margin panel-title" th:text="${refund.label + ' / ' + refund.isin}">resonance 2 / FR00196847</span>
							<span th:if="${refund.isEavest}"><img class="float-right img-responsive" src="img/black-logo.png" alt="black-logo" id="eavest" /></span>
						</li>
					</ul>
					<a class="over">
						<span><img class="more-product" src="img/more-hover.png" alt="voir-plus" /></span>
					</a>
				</div> -->

<!-- SHORT ACCORDION PRODUITS REMBOURSES (short-accordion-1) -->


				<div class="sous-container">
					<div class="panel-group" id="short-accordion-1" role="tablist" aria-multiselectable="true">
<!-- produit 1 -->
<!-- produit 2 -->
<!-- produit 3 -->

				 <!-- close -->
				</div>
			</div>
<!-- END SHORT ACCORDION REMBOURSES-->


<!-- LONG ACCORDION REMBOURSES -->
			<div class="sous-container">
				<div class="panel-group" id="long-accordion-1" role="tablist" aria-multiselectable="true">

					<!-- collapse product 1 -->
					<div class="panel panel-default">
						<div class="activestate" role="tab" id="headingOne">
							<h4 class="accordion-title">
								<a class="panel-heading prod-list" role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<span class="margin panel-title"> LONG resonance 1 / FR00196847</span>
								<span><img class="float-right img-responsive" src="img/black-logo.png" alt="black-logo" id="eavest"/></span>
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">

									<div class="col-md-12">
										<h3>société générale</h3>
									</div>
									<div class="col-md-3">
										<img src="img/product.png" alt="produit" id="accor-product"/>
									</div>
									<div class="col-md-9">
										<span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
											<span class="display-b"></span>
											<br />
										<span class="light-blue">sous-jacent</span>
											<span class="display-b"></span>
										<span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
											<span class="display-b"></span>
										<span class="light-blue">statut</span>
											<span class="display-b"></span>
										<span class="grey-uppercase">en cours</span>
									</div>

							</div>
						</div>
					</div>
					<!-- collapse product 2 -->
					<div class="panel panel-default">
					 <div class="activestate" role="tab" id="headingTwo">
						 <h4 class="accordion-title">
							 <a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							 <span class="margin panel-title">resonance 2 / FR00196847</span>
							 </a>
						 </h4>
					 </div>
					 <div id="collapseTwo" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="headingTwo">
						 <div class="panel-body">
							 <div class="col-md-12">
								 <h3>société générale</h3>
							 </div>
							 <div class="col-md-3">
								 <img src="img/product.png" alt="produit" id="accor-product"/>
							 </div>
							 <div class="col-md-9">
								 <span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
										 <span class="display-b"></span>
									 <br />
								 <span class="light-blue">sous-jacent</span>
									 <span class="display-b"></span>
								 <span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
									 <span class="display-b"></span>
								 <span class="light-blue">statut</span>
									 <span class="display-b"></span>
								 <span class="grey-uppercase">en cours</span>
							 </div>
						 </div>
					 </div>
				 </div>
				<!-- product 3 -->
				<div class="panel panel-default">
				 <div class="activestate" role="tab" id="headingTree">
					 <h4 class="accordion-title">
						 <a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
						 <span class="margin panel-title">resonance 3 / FR00196847</span>
						 </a>
					 </h4>
				 </div>
				 <div id="collapseTree" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="headingTree">
					 <div class="panel-body">
						 <div class="col-md-12">
							 <h3>société générale</h3>
						 </div>
						 <div class="col-md-3">
							 <img src="img/product.png" alt="produit" id="accor-product"/>
						 </div>
						 <div class="col-md-9">
							 <span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
									 <span class="display-b"></span>
								 <br />
							 <span class="light-blue">sous-jacent</span>
								 <span class="display-b"></span>
							 <span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
								 <span class="display-b"></span>
							 <span class="light-blue">statut</span>
								 <span class="display-b"></span>
							 <span class="grey-uppercase">en cours</span>
						 </div>
					 </div>
				 </div>
			 </div>
				<!-- product 4 -->
				<div class="panel panel-default">
				 <div class="activestate" role="tab" id="headingFour">
					 <h4 class="accordion-title">
						 <a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
						 <span class="margin panel-title">resonance 4 / FR00196847</span>
						 <span><img class="float-right img-responsive" src="img/black-logo.png" alt="black-logo" id="eavest"/></span>
						 </a>
					 </h4>
				 </div>
				 <div id="collapseFour" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="headingFour">
					 <div class="panel-body">
						 <div class="col-md-12">
							 <h3>société générale</h3>
						 </div>
						 <div class="col-md-3">
							 <img src="img/product.png" alt="produit" id="accor-product"/>
						 </div>
						 <div class="col-md-9">
							 <span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
									 <span class="display-b"></span>
								 <br />
							 <span class="light-blue">sous-jacent</span>
								 <span class="display-b"></span>
							 <span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
								 <span class="display-b"></span>
							 <span class="light-blue">statut</span>
								 <span class="display-b"></span>
							 <span class="grey-uppercase">en cours</span>
						 </div>
					 </div>
				 </div>
				</div>
					<!-- product 5 -->
					<div class="panel panel-default">
					 <div class="activestate" role="tab" id="headingFive">
						 <h4 class="accordion-title">
							 <a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
							 <span class="margin panel-title">resonance 5 / FR00196847</span>
							 <span><img class="float-right img-responsive" src="img/black-logo.png" alt="black-logo" id="eavest"/></span>
							 </a>
						 </h4>
					 </div>
					 <div id="collapseFive" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="headingFive">
						 <div class="panel-body">
							 <div class="col-md-12">
								 <h3>société générale</h3>
							 </div>
							 <div class="col-md-3">
								 <img src="img/product.png" alt="produit" id="accor-product"/>
							 </div>
							 <div class="col-md-9">
								 <span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
										 <span class="display-b"></span>
									 <br />
								 <span class="light-blue">sous-jacent</span>
									 <span class="display-b"></span>
								 <span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
									 <span class="display-b"></span>
								 <span class="light-blue">statut</span>
									 <span class="display-b"></span>
								 <span class="grey-uppercase">en cours</span>
							 </div>
						 </div>
					 </div>
					</div>
					<!-- hover -->
					<a class="over">
					<span><img class="more-product" id="more-product-2" src="img/more-hover.png" alt="voir-plus" /></span>
					</a>
			</div>
		</div>
			<!-- END LONG ACCORDION REMBOURSES -->
</div>

			<div class="col-sm-6 col-md-6 wrapper padding_left">
				<img src="img/bell.png" alt="bell" class="img-responsive img-bell" />
				<h1 class="product-title"><b>produits à rappeler</b><span class="min"> dans les 30 jours</span></h1>

<!-- SHORT ACCORDION 2 PRODUITS A RAPPELER-->
									<div class="sous-container">
										<div class="panel-group" id="short-accordion-2" role="tablist" aria-multiselectable="true">

										<!-- collapse product 1 -->
										<div class="panel panel-default">
											<div class="activestate" role="tab" id="heading2One">
												<h4 class="accordion-title">
													<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapse2One" aria-expanded="true" aria-controls="collapse2One">
													<span class="margin panel-title">short resonance 1 / FR00196847</span>
													<span><img class="float-right img-responsive" src="img/black-logo.png" alt="black-logo" id="eavest"/></span>
													</a>
												</h4>
											</div>
											<div id="collapse2One" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="heading2One" style="height: 31px;">
												<div class="panel-body">
													<div class="col-md-12">
														<h3>société générale</h3>
													</div>
													<div class="col-md-3">
														<img src="img/product.png" alt="produit" id="accor-product"/>
													</div>
													<div class="col-md-9">
														<span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
															<span class="display-b"></span>
															<br />
														<span class="light-blue">sous-jacent</span>
															<span class="display-b"></span>
														<span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
															<span class="display-b"></span>
														<span class="light-blue">statut</span>
															<span class="display-b"></span>
														<span class="grey-uppercase">en cours</span>
													</div>
												</div>
											</div>
										</div>
										<!-- collapse product 2 -->
										<div class="panel panel-default">
											<div class="activestate" role="tab" id="heading2Two">
												<h4 class="accordion-title">
													<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2Two" aria-expanded="true" aria-controls="collapse2Two">
													<span class="margin panel-title">resonance 2 / FR00196847</span>
												</a>
												</h4>
											</div>
											<div id="collapse2Two" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="heading2Two">
												<div class="panel-body">
													<div class="col-md-12">
														<h3>société générale</h3>
													</div>
													<div class="col-md-3">
														<img src="img/product.png" alt="produit" id="accor-product"/>
													</div>
													<div class="col-md-9">
														<span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
															<span class="display-b"></span>
															<br />
														<span class="light-blue">sous-jacent</span>
															<span class="display-b"></span>
														<span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
															<span class="display-b"></span>
														<span class="light-blue">statut</span>
															<span class="display-b"></span>
														<span class="grey-uppercase">en cours</span>
													</div>
												</div>
											</div>
										</div>
										<!-- product 3 -->
										<div class="panel panel-default">
											<div class="activestate" role="tab" id="heading2Tree">
												<h4 class="accordion-title">
													<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2Tree" aria-expanded="true" aria-controls="collapse2Tree">
													<span class="margin panel-title">resonance 2 / FR00196847</span>
												</a>
												</h4>
											</div>
											<div id="collapse2Tree" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="heading2Tree">
												<div class="panel-body">
													<div class="col-md-12">
														<h3>société générale</h3>
													</div>
													<div class="col-md-3">
														<img src="img/product.png" alt="produit" id="accor-product"/>
													</div>
													<div class="col-md-9">
														<span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
															<span class="display-b"></span>
															<br />
														<span class="light-blue">sous-jacent</span>
															<span class="display-b"></span>
														<span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
															<span class="display-b"></span>
														<span class="light-blue">statut</span>
															<span class="display-b"></span>
														<span class="grey-uppercase">en cours</span>
													</div>
												</div>
											</div>
										</div>
									<!-- product 5 -->
									<div class="panel panel-default">
										<div class="activestate" role="tab" id="heading2Five">
											<h4 class="accordion-title">
												<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2Five" aria-expanded="true" aria-controls="collapse2Five">
												<span class="margin panel-title">resonance 2 / FR00196847</span>
											</a>
											</h4>
										</div>
										<div id="collapse2Five" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="heading2Five">
											<div class="panel-body">
												<div class="col-md-12">
													<h3>société générale</h3>
												</div>
												<div class="col-md-3">
													<img src="img/product.png" alt="produit" id="accor-product"/>
												</div>
												<div class="col-md-9">
													<span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
														<span class="display-b"></span>
														<br />
													<span class="light-blue">sous-jacent</span>
														<span class="display-b"></span>
													<span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
														<span class="display-b"></span>
													<span class="light-blue">statut</span>
														<span class="display-b"></span>
													<span class="grey-uppercase">en cours</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
<!-- END SHORT ACCORDION REMBOURSES-->

<!-- LONG ACCORDION A RAPPELER -->
<div class="sous-container">
<div class="panel-group" id="long-accordion-2" role="tablist" aria-multiselectable="true">

<!-- collapse product 1 -->
<div class="panel panel-default">
	<div class="activestate" role="tab" id="heading2One">
		<h4 class="accordion-title">
			<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapse2One" aria-expanded="true" aria-controls="collapse2One">
			<span class="margin panel-title"> LONG resonance 1 / FR00196847</span>
			<span><img class="float-right img-responsive" src="img/black-logo.png" alt="black-logo" id="eavest"/></span>
			</a>
		</h4>
	</div>
	<div id="collapse2One" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="heading2One" style="height: 31px;">
		<div class="panel-body">
			<div class="col-md-12">
				<h3>société générale</h3>
			</div>
			<div class="col-md-3">
				<img src="img/product.png" alt="produit" id="accor-product"/>
			</div>
			<div class="col-md-9">
				<span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
					<span class="display-b"></span>
					<br />
				<span class="light-blue">sous-jacent</span>
					<span class="display-b"></span>
				<span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
					<span class="display-b"></span>
				<span class="light-blue">statut</span>
					<span class="display-b"></span>
				<span class="grey-uppercase">en cours</span>
			</div>
		</div>
	</div>
</div>
<!-- collapse product 2 -->
<div class="panel panel-default">
	<div class="activestate" role="tab" id="heading2Two">
		<h4 class="accordion-title">
			<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2Two" aria-expanded="true" aria-controls="collapse2Two">
			<span class="margin panel-title">resonance 2 / FR00196847</span>
		</a>
		</h4>
	</div>
	<div id="collapse2Two" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="heading2Two">
		<div class="panel-body">
			<div class="col-md-12">
				<h3>société générale</h3>
			</div>
			<div class="col-md-3">
				<img src="img/product.png" alt="produit" id="accor-product"/>
			</div>
			<div class="col-md-9">
				<span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
					<span class="display-b"></span>
					<br />
				<span class="light-blue">sous-jacent</span>
					<span class="display-b"></span>
				<span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
					<span class="display-b"></span>
				<span class="light-blue">statut</span>
					<span class="display-b"></span>
				<span class="grey-uppercase">en cours</span>
			</div>
		</div>
	</div>
</div>
<!-- product 3 -->
<div class="panel panel-default">
	<div class="activestate" role="tab" id="heading2Tree">
		<h4 class="accordion-title">
			<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2Tree" aria-expanded="true" aria-controls="collapse2Tree">
			<span class="margin panel-title">resonance 2 / FR00196847</span>
		</a>
		</h4>
	</div>
	<div id="collapse2Tree" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="heading2Tree">
		<div class="panel-body">
			<div class="col-md-12">
				<h3>société générale</h3>
			</div>
			<div class="col-md-3">
				<img src="img/product.png" alt="produit" id="accor-product"/>
			</div>
			<div class="col-md-9">
				<span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
					<span class="display-b"></span>
					<br />
				<span class="light-blue">sous-jacent</span>
					<span class="display-b"></span>
				<span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
					<span class="display-b"></span>
				<span class="light-blue">statut</span>
					<span class="display-b"></span>
				<span class="grey-uppercase">en cours</span>
			</div>
		</div>
	</div>
</div>
<!-- product 4 -->
<div class="panel panel-default">
<div class="activestate" role="tab" id="heading2Four">
	<h4 class="accordion-title">
		<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2Four" aria-expanded="true" aria-controls="collapse2Four">
		<span class="margin panel-title">resonance 2 / FR00196847</span>
	</a>
	</h4>
</div>
<div id="collapse2Four" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="heading2Four">
	<div class="panel-body">
		<div class="col-md-12">
			<h3>société générale</h3>
		</div>
		<div class="col-md-3">
			<img src="img/product.png" alt="produit" id="accor-product"/>
		</div>
		<div class="col-md-9">
			<span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
				<span class="display-b"></span>
				<br />
			<span class="light-blue">sous-jacent</span>
				<span class="display-b"></span>
			<span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
				<span class="display-b"></span>
			<span class="light-blue">statut</span>
				<span class="display-b"></span>
			<span class="grey-uppercase">en cours</span>
		</div>
	</div>
</div>
</div>
<!-- product 5 -->
<div class="panel panel-default">
<div class="activestate" role="tab" id="heading2Five">
	<h4 class="accordion-title">
		<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2Five" aria-expanded="true" aria-controls="collapse2Five">
		<span class="margin panel-title">resonance 2 / FR00196847</span>
	</a>
	</h4>
</div>
<div id="collapse2Five" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="heading2Five">
	<div class="panel-body">
		<div class="col-md-12">
			<h3>société générale</h3>
		</div>
		<div class="col-md-3">
			<img src="img/product.png" alt="produit" id="accor-product"/>
		</div>
		<div class="col-md-9">
			<span class="light-blue" id="cours">cours <span class="bold-blue">4.254</span></span>
				<span class="display-b"></span>
				<br />
			<span class="light-blue">sous-jacent</span>
				<span class="display-b"></span>
			<span class="grey-uppercase">euro istoxx&reg; ewc 50</span>
				<span class="display-b"></span>
			<span class="light-blue">statut</span>
				<span class="display-b"></span>
			<span class="grey-uppercase">en cours</span>
		</div>
	</div>
</div>
</div>
<!-- hover -->
<a class="over">
<span><img class="more-product" id="more-product-2" src="img/more-hover.png" alt="voir-plus" /></span>
</a>
</div>
</div>

<!-- END LONG ACCORDION A RAPPELER -->
